@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 223, 111;
  --foreground-rgb: 98, 88, 52;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .break-works {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
